.admin-table
  .filter-container
    %h3= t('comments.filter')
    %p
      = form_tag manage_comments_path, method: :get, class: "form" do
        .form-group
          = label_tag :resource_id
          - if @resource
            = hidden_field_tag :resource_id, @resource.id, class: "select2 ajax", data: { source: search_all_resources_path, text: "#{@resource.title} (#{@resource.town})" }, style: "width: 100%"
          - else
            = hidden_field_tag :resource_id, "", class: "select2 ajax", data: { source: search_all_resources_path }, style: "width: 100%"
        .form-group
          = label_tag :spam
          = select_tag :spam, options_for_select(["true", "false"], params[:spam]), prompt: "All"
        = submit_tag t('common.actions.filter'), class: "btn btn-default"

  .table-container
    %table#comments_table
      %thead
        %tr
          %th= t('resources.description')
          %th= t('comments.text')
          %th= t('comments.author')
          %th= t('common.attributes.created_at')
          %th= t('comments.user_ip')
          %th= t('comments.spam')
          %th= t('common.actions.description')
      %tbody
        - @comments.each do |c|
          %tr{data: {spam: c.spam, id: c.id}}
            %td= link_to c.resource.title, c.resource
            %td.tooltip-item
              = truncate(c.text, length: 20)
              .tooltip
                = c.text
            %td= c.user ? c.user.name : t('common.anonymous')
            %td= c.created_at
            %td= c.user_ip
            %td= c.spam
            %td
              %ul
                %li= link_to t('common.actions.delete'), c, method: "delete", confirm: "Are you sure?"
                - if c.is_banned?
                  %li= link_to t('common.actions.unban_ip'), banned_ip_path(c.banned_ip), method: "delete"
                - else
                  %li= link_to t('common.actions.ban_ip'), banned_ips_path(banned_ip: {ip: c.user_ip}), method: "post"
                - if c.spam
                  %li= link_to t('common.actions.ham'), ham_comments_path(ids: [c.to_param])
                - else
                  %li= link_to t('common.actions.spam'), spam_comments_path(ids: [c.to_param])
