%h2 Sign in
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
  = f.input :email, :autofocus => true
  = f.input :password
  %label.checkbox
    = f.check_box :remember_me
    Remember me

  = f.button :submit, "Sign in", :class => 'btn btn-primary'
= render "devise/shared/links"
