%h4 Comments
- if @resource.comments.empty?
  .no-comments
    %p No comments to display
- else
  .comments
    - @resource.comments.each do |c|
      .comment.well
        .body
          = c.text
        .info
          %small
            - if c.user
              = c.user.name
            - else
              Anonymous
            &middot;
            = c.created_at
        - if policy(c).delete?
          .actions
            = form_tag resource_comment_path(@resource, c), method: :delete do
              = submit_tag "Delete", class: "btn btn-link btn-xs"


= simple_form_for([@resource, Comment.new()], html: { class: "form-horizontal" }) do |f|
  = f.error_notification

  .form-group
    .col-xs-12
      = f.input_field :text, style: "width: 100%;", rows: 5
  .checkbox
    %label
      = f.check_box :anonymous
      Post as anonymous?
  = f.button :submit, class: "btn btn-primary"
