= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GMAPS_API_KEY']}&sensor=false"

#errors

= simple_form_for(@resource, html: { class: 'edit_resource' }) do |f|
  = f.error_notification

  .left-column
    = f.input :title
    = f.input :description, input_html: { rows: 5, cols: 40 }
    = f.input :website
    = f.input :category_list
  .right-column
    = f.input :address_line_1
    = f.input :address_line_2
    = f.input :town
    = f.input :country
    = f.input :lat, as: :hidden
    = f.input :long, as: :hidden


  .actions
    = f.button :submit, onclick: 'return GetLatLong();', class: "button"
