= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GMAPS_API_KEY']}&sensor=false"

#alert-template.alert.alert-info{style: "display: none;"}
  %button.close{type: "button", data: {dismiss: "alert"}}
    &times;

.row
  .col-xs-6
    %h3 
      Search
    = form_tag search_resources_path, method: :post, remote: true do
      .row.form-group
        .col-xs-12
          %p.form-control-static I want to find a
      .row.form-group
        .col-xs-12
          = label_tag 'categories', "Categories", class: 'sr-only'
          = select_tag 'categories', options_from_collection_for_select(categories, "name", "name"), multiple: true, style: "display: block;"
      .row.form-group
        .col-xs-12.col-md-5
          = label_tag 'location', "Location", class: 'sr-only'
          .input-group
            %span.input-group-addon In
            = text_field_tag 'location', nil, placeholder: "Enter an address...", class: "form-control js-location-autocomplete"
        .col-xs-12.col-md-5
          = label_tag 'radius', "Radius", class: 'sr-only'
          .input-group
            %span.input-group-addon Within
            = number_field_tag 'radius', 20, min: 1, class: "form-control"
            %span.input-group-addon km
        .col-xs-12.col-md-2
          = button_tag "Search", class: "btn btn-primary js-location-search", type: "button", data: { "loading-text" => "Searching..." }

.row
  .col-md-6.col-xs-12
    .results-map
  .col-md-6.col-xs-12
    %ul.results-list.list-unstyled
  
