= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GMAPS_API_KEY']}&sensor=false"

.js-alert.alert-container

.search-form
  .form-container
    %h3= t('common.actions.search')
    = form_tag search_resources_path, method: :post, remote: true do
      %p= t('resources.search_prompt')
      .categories
        = label_tag 'categories', t('resources.categories'), class: 'sr-only'
        = select_tag 'categories', options_from_collection_for_select(categories, "name", "name"), multiple: true, style: "display: block;"
      .location.input-group
        = label_tag 'location', t('resources.location.description'), class: 'sr-only'
        %span.prefix= t('resources.location.prepend')
        = text_field_tag 'location', nil, class: "js-location-autocomplete"
      .radius.input-group
        = label_tag 'radius', t('resources.radius.description'), class: 'sr-only'
        %span.prefix= t('resources.radius.prepend')
        = number_field_tag 'radius', 20, min: 1
        %span.suffix= t('resources.radius.append')
      .action
        = button_tag "Search", class: "js-location-search", type: "button"
  - if @resources.present?
    .results-container
      .map-container
        .js-results-map.results-map{data: {lat: params[:lat], lng: params[:lng], radius: params[:radius]}}
      .results-list-container
        %ul.results-list.list-unstyled
          - @resources.each do |r|
            %li
              %p
                = link_to r do
                  %strong
                    = r.title
              %p
                .resource-rating-show{data: {score: r.score}}
              %p
                %small
                  Categories:
                  - r.categories.each do |c|
                    %a{href:"/resources/tag/#{c.name}"}
                      = c.name
