.admin-table
  .filter-container
    %h3= t('resources.filter')
    %p
      = form_tag manage_resources_path, method: :get, class: "form" do
        .form-group
          = label_tag :categories
          = select_tag :categories, options_from_collection_for_select(@categories, "name", "name", params[:categories]), multiple: true, style: "display: block;"
        = submit_tag t('common.actions.filter'), class: "btn btn-default"

  .table-container
    %table#resources_table
      %thead
        %tr
          %th= t('resources.attributes.title')
          %th= t('resources.attributes.description')
          %th= t('resources.attributes.address')
          %th= t('resources.categories')
          %th= t('common.attributes.created_at')
          %th= t('common.actions.description')
      %tbody
        - @resources.each do |r|
          %tr
            %td= r.title
            %td
              - if r.description.length > 20
                .tooltip-item
                  = truncate(r.description, length: 20)
                  .tooltip
                    = r.description
              - else
                = r.description
            %td= r.address('<br>')
            %td
              - if r.categories_list.length > 20
                .tooltip-item
                  = truncate(r.categories_list, length: 20)
                  .tooltip
                    = r.categories_list
              - else
                = r.categories_list
            %td= r.created_at
            %td
              %ul
                %li= link_to t('common.actions.edit'), edit_resource_path(r)
                %li= link_to t('common.actions.delete'), r, method: "delete", confirm: "Are you sure?"
