%header.navigation
  .menu-wrapper
    %a.logo{href: url_for(root_path)}
      = image_tag "logo.png", height: "60px"

    %button#js-mobile-menu.navigation-menu-button
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .nav
      %ul#navigation-menu
        %li.nav-link.more
          /%a{href: url_for(resources_path)}
          = t('resources.description')
          %b.caret

          %ul.submenu
            %li
              = link_to t('common.all_resources'), resources_path
            %li
              = link_to t('common.actions.search'), search_resources_path
            %li
              = link_to t('common.actions.new'), new_resource_path
        - if user_signed_in? && current_user.has_role?(:admin)
          %li.nav-link.more
            %a{href: '#'}
              = t('admin.admin')
              %b.caret

            %ul.submenu
              %li
                = link_to t('comments.manage'), manage_comments_path
              %li
                = link_to t('resources.manage'), manage_resources_path
        %li.nav-link
          - if user_signed_in?
            = link_to t('sessions.logout'), destroy_user_session_path, method: :delete
          - else
            = link_to t('sessions.login'), new_user_session_path
        %li.nav-link
          - if user_signed_in?
            = link_to t('registrations.edit'), edit_user_registration_path
          - else
            = link_to t('registrations.new'), new_user_registration_path
