!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? "Trans Health Directory - #{yield(:title)}" : "Trans Health Directory"
    %meta{content: content_for?(:description) ? yield(:description) : "Trans Health Directory", :name => "description"}
    %meta{content: content_for?(:description) ? yield(:description) : "Trans Health Directory", property: "og:description"}
    %meta{content: content_for?(:title) ? "#{yield(:title)}" : "", property: "og:title"}
    %meta{content: "#{request.base_url}#{request.path}", property: "og:url"}
    %meta{content: "Trans Health Directory", property: "og:site_name"}

    %link{href: '//fonts.googleapis.com/css?family=Roboto:400,700', rel: 'stylesheet', type: 'text/css'}

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag controller_name if asset_path(controller_name) and Rails.application.assets.find_asset(controller_name)
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .page-container
      = render 'layouts/navigation_bar'
      .alert-container
        = render 'layouts/messages'
      .content-container
        .content
          = yield
      = render 'layouts/footer'
