!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? "Trans Health Directory - #{yield(:title)}" : "Trans Health Directory"
    %meta{content: content_for?(:description) ? yield(:description) : "Trans Health Directory", :name => "description"}
    %meta{content: content_for?(:description) ? yield(:description) : "Trans Health Directory", property: "og:description"}
    %meta{content: content_for?(:title) ? "#{yield(:title)}" : "", property: "og:title"}
    %meta{content: "#{request.base_url}#{request.path}", property: "og:url"}
    %meta{content: "Trans Health Directory", property: "og:site_name"}
    %meta{content: image_url('logo-huge.png'), property: "og:image"}

    %link{href: '//fonts.googleapis.com/css?family=Roboto:400,700', rel: 'stylesheet', type: 'text/css'}

    %meta{name: "msapplication-square70x70logo", content: image_url('icons/windows-tile-70x70.png')}
    %meta{name: "msapplication-square150x150logo", content: image_url('icons/windows-tile-150x150.png')}
    %meta{name: "msapplication-square310x310logo", content: image_url('icons/windows-tile-310x310.png')}
    %meta{name: "msapplication-TileImage", content: image_url('icons/windows-tile-144x144.png')}
    %meta{name: "msapplication-TileColor", content: "#001A71"}
    %link{rel: "apple-touch-icon-precomposed", sizes: "152x152", href: image_url('icons/apple-touch-icon-152x152-precomposed.png')}
    %link{rel: "apple-touch-icon-precomposed", sizes: "120x120", href: image_url('icons/apple-touch-icon-120x120-precomposed.png')}
    %link{rel: "apple-touch-icon-precomposed", sizes: "76x76", href: image_url('icons/apple-touch-icon-76x76-precomposed.png')}
    %link{rel: "apple-touch-icon-precomposed", sizes: "60x60", href: image_url('icons/apple-touch-icon-60x60-precomposed.png')}
    %link{rel: "apple-touch-icon-precomposed", sizes: "144x144", href: image_url('icons/apple-touch-icon-144x144-precomposed.png')}
    %link{rel: "apple-touch-icon-precomposed", sizes: "114x114", href: image_url('icons/apple-touch-icon-114x114-precomposed.png')}
    %link{rel: "apple-touch-icon-precomposed", sizes: "72x72", href: image_url('icons/apple-touch-icon-72x72-precomposed.png')}
    %link{rel: "apple-touch-icon", sizes: "57x57", href: image_url('icons/apple-touch-icon.png')}
    %link{rel: "shortcut icon", href: image_url('icons/favicon.ico')}
    %link{rel: "icon", type: "image/png", sizes: "64x64", href: image_url('icons/favicon.png')}

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag controller_name if asset_path(controller_name) and Rails.application.assets.find_asset(controller_name)
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .page-container
      = render 'layouts/navigation_bar'
      .alert-container
        = render 'layouts/messages'
      .index-container
        = yield
      = render 'layouts/footer'
